---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import WhySection from '../components/WhySection.astro';
import HeritageSection from '../components/HeritageSection.astro';
import UseCasesSection from '../components/UseCasesSection.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <WhySection />
    <HeritageSection />
    <UseCasesSection />
  </main>
  <Footer />
</BaseLayout>
